.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


/* Header */

.header {
    padding: 15px 0px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header_nav {
    margin-bottom: 15px;
}

.nav_link {
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #444444;
    margin: 0 30px;
}

.hamburger_menu {
    display: none;
}

@media (max-width:650px) {
    .header_nav {
        display: none;
    }
    .hamburger_menu {
        display: block;
        height: 13px;
        width: 25px;
    }
    .hamburger_menu span {
        width: 100%;
        height: 1px;
        background-color: black;
        display: block;
        margin-bottom: 5px;
    }
    .hamburger_menu span:last-child {
        margin-bottom: 0px;
    }
}


/* Intro */

.intro {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    background-image: url(../Media/images/bg.png);
    background-size: cover;
}

.intro:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
}

.intro_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.intro_inner img {
    max-width: 128px;
    margin-bottom: 20px;
    margin-top: -150px;
}

.intro_title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
}


/* Slider */

.slider {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid #3A4443;
    border-radius: 32px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:620px) {
    .intro_title {
        font-size: 25px;
    }
    .intro {
        height: 500px;
    }
}


/* About */

.about_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}

.about_inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    align-items: center;
}

.about_suptitle {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #45525B;
    max-width: 490px;
    line-height: 1.1;
}

.client_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #333333;
    max-width: 490px;
}

.client_suptitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #333333;
    max-width: 490px;
    margin-top: 8px;
}

.client_img {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.client_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}

.client_text {
    margin-left: 8px;
}

.client_supname {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}

@media (max-width:850px) {
    .about_inner {
        flex-direction: column;
    }
    .client_title,
    .client_suptitle,
    .about_suptitle {
        max-width: 100%;
    }
    .about_suptitle {
        margin-bottom: 20px;
    }
}

@media (max-width:540px) {
    .about_suptitle {
        font-size: 30px;
    }
    .about_inner {
        padding: 50px 0px;
    }
}


/* Listings */

.listings_inner {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.listings_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    text-align: center;
}

.listings_sup {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    text-align: center;
}

.listings_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}

.listings_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.listings_img {
    max-width: 480px;
}

.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 50px;
    margin-top: 70px;
    margin-left: 53px;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.list:hover {
    background-color: rgba(202, 204, 209, .2);
}

.list_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
    margin-top: 10px;
    width: 100%;
}

.list_title_two {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
}

.list_title_three {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
    margin-top: 10px;
    margin-left: 40px;
    width: 100%;
}

.list_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
    max-width: 200px;
}

.list_text_two {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
    max-width: 200px;
}

.list_text_three {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
    max-width: 200px;
}

@media (max-width:900px) {
    .listings_body {
        flex-direction: column;
        align-items: left;
    }
    .list {
        margin-top: 20px;
    }
    .listings_sup {
        font-size: 25px;
        margin-top: -15px;
    }
    .listings_text {
        font-size: 15px;
        margin-top: -5px;
    }
    .listings_title {
        margin-bottom: 10px;
    }
    .list_text {
        margin-top: 10px;
    }
    .listings_inner {
        margin-top: 50px;
    }
}

@media (max-width:500px) {
    .listings_img {
        width: 100%;
        height: auto;
    }
    .listings_text {
        font-size: 14px;
        margin-top: -5px;
    }
}

@media (max-width:330px) {
    .listings_img {
        margin: 0 auto;
        padding: 0 15px;
    }
    .listings_text {
        font-size: 14px;
        padding: 0 20px;
    }
    .listings_sup {
        font-size: 20px;
    }
    .list {
        margin-top: 10px;
        width: 100%;
        font-size: 10px;
        margin-left: 10px;
    }
}

.appartment_humbnale {
    background-image: url(../Media/images/final\ list.png);
    height: 625px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
}


/* current */

.current_listings {
    margin-top: 85px;
}

.current_title,
.current_sup {
    text-align: left;
}

.current_text {
    text-align: left;
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #45525B;
}

.current_card_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #45525B;
}

.current_card_title {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}

.current_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current_card_icon {
    display: flex;
    align-items: center;
}

.current_card {
    max-width: 380px;
}

.bad {
    margin-top: -20px;
}

.current_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin: 0 5px;
}

.list_btn {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}

.listings_btn {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
}

.btn_img {
    margin-left: 4px;
}

@media (max-width:800px) {
    .current_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:400px) {
    .current_cards {
        max-width: 380px;
        height: auto;
        width: 100%;
    }
    .current_icons {
        margin: 0 auto;
        justify-content: flex-end;
    }
    .list_btn {
        font-size: 25px;
    }
}


/* team */

.team {
    margin-top: 200px;
    display: flex;
}

.team_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    margin-left: 12px;
}

.team_suptitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    max-width: 310px;
    margin-left: 12px;
}

.team_text {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #6F7278;
    margin-top: 11px;
    max-width: 370px;
    margin-left: 12px;
}

.tm_btn {
    display: flex;
    border: none;
    background-color: transparent;
    margin-top: 19px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
    margin-left: 12px;
}

.tm_cards {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    width: 100%;
}

.team_card {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.team_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    margin-left: 8px;
}

.team_supname {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
    margin-left: 8px;
}

.tm_cards_two {
    display: flex;
    max-width: 740px;
    width: 100%;
}


/* newsroom */

.newsroom {
    margin-top: 210px;
}

.room_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}

.room_sup {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
}

.room_img {
    margin-top: 20px;
}

.room_title_img {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    margin-top: 30px;
    margin-left: 30px;
}

.room_sup_img {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #45525B;
    margin-left: 30px;
    max-width: 310px;
    margin-top: 8px;
}

.room_images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.room_date {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
    margin-left: 30px;
    margin-top: 30px;
}

.room_date_one {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
    margin-left: 30px;
    margin-top: 10px;
}

.rooms_btn {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    margin-top: 50px;
}

.room_btn {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}

.rooms_btn {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
}