.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


/* Header */

.header {
    padding: 15px 0px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header_nav {
    margin-bottom: 15px;
}

.nav_link {
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #444444;
    margin: 0 30px;
}

.hamburger_menu {
    display: none;
}

@media (max-width:650px) {
    .header_nav {
        display: none;
    }
    .hamburger_menu {
        display: block;
        height: 13px;
        width: 25px;
    }
    .hamburger_menu span {
        width: 100%;
        height: 1px;
        background-color: black;
        display: block;
        margin-bottom: 5px;
    }
    .hamburger_menu span:last-child {
        margin-bottom: 0px;
    }
}


/* Intro */

.intro {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    background-image: url(../Media/images/bg.png);
    background-size: cover;
}

.intro:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
}

.intro_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.intro_inner img {
    max-width: 128px;
    margin-bottom: 20px;
    margin-top: -150px;
}

.intro_title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
}


/* Slider */

.slider {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid #3A4443;
    border-radius: 32px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:620px) {
    .intro_title {
        font-size: 25px;
    }
    .intro {
        height: 500px;
    }
}


/* About */

.about_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}

.about_inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    align-items: center;
}

.about_suptitle {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #45525B;
    max-width: 490px;
    line-height: 1.1;
}

.client_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #333333;
    max-width: 490px;
}

.client_suptitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #333333;
    max-width: 490px;
    margin-top: 8px;
}

.client_img {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.client_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}

.client_text {
    margin-left: 8px;
}

.client_supname {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}

@media (max-width:850px) {
    .about_inner {
        flex-direction: column;
    }
    .client_title,
    .client_suptitle,
    .about_suptitle {
        max-width: 100%;
    }
    .about_suptitle {
        margin-bottom: 20px;
    }
}

@media (max-width:540px) {
    .about_suptitle {
        font-size: 30px;
    }
    .about_inner {
        padding: 50px 0px;
    }
}